button:focus{
    outline: none;
}

body{
    background: rgb(250,250,250);
    background: linear-gradient(180deg, rgba(250,250,250,1) 0%, rgba(223,223,223,1) 100%);
}

#login-background-img{
    width: 100%;
    height: 100vh;
}

#login-card{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
    height: 70%;
    background: white;
    border-radius: 20px;
    -webkit-box-shadow: 0px -8px 68px -5px rgba(135,133,135,1);
    -moz-box-shadow: 0px -8px 68px -5px rgba(135,133,135,1);
    box-shadow: 0px -8px 68px -5px rgba(135,133,135,1);
}

#login-container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: left;
    width: 100%;
    height: 100%;
    padding-top: 13%;
    padding-left: 6%;
}

#heading{
    position: absolute;
    top: 4%;
    left: 4%;
}
#heading{
    font-weight: bold;
    font-size: 30px;
}
#heading>span{
    color: #6433D7;
}

#login-img{
    width: 480px;
    height: 300px;
    margin-top: 5%;
}

#frm-login{
    width: 500px;
    margin-left: 50px;
}

#btnLogin{
    background: #6433D7;
    border: 1px solid #6433D7;
    border-radius: 40px;
    width: 150px;
    height: 45px;
    margin-top: 5%;
}

#guest-login{
    width: 200px;
    margin-top: 8%;
    margin-left: 10%;
    font-weight: bold;
    color: #4e555b;
}

#signup-header{
    text-align: right;
    margin-top: -25%;
}
#signup-header>p{
    font-weight: bold;
}
#signup-header>p>span{
    color: #6433D7;
}

#login-description{
    font-weight: bold;
    margin-top: 20%;
    margin-bottom: 10%;
}
#login-description>p{
    color: #4e555b;
}

#txtEmail{
    height: 50px;
    margin-bottom: 40px;
}
#txtEmail::placeholder{
    font-weight: bold;
}
#txtPassword{
    height: 50px;
}
#txtPassword::placeholder{
    font-weight: bold;
}

#btnRegister{
    background: #6433D7;
    border: 1px solid #6433D7;
    border-radius: 40px;
    width: 150px;
    height: 45px;
}

#btnClose{
    background: white;
    border: 1px solid #8c8c8c;
    border-radius: 40px;
    width: 100px;
    height: 45px;
    color: #8C8C8C;
}

#btnClose:hover{
    background: #8C8C8C;
    border: 1px solid white;
    color: white;
}
